html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: rgb(2,0,36);
    background: linear-gradient(317deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 30%, rgba(0,212,255,1) 84%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 50%;
    height: 50%;
    background-color: black;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 64px;
}
.title{
    font-size: 48px;
    font-weight: 900;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
.sub-title{
    font-size: 32px;
    font-weight: 500;
    color: white;
    text-align: center;
}
.btn-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
button{
    width: 200px;
    height: 80px;
    border: 2px solid rgba(9,9,121,1);
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    color: rgb(2, 0, 36);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}